div.Menu_TopMenu {
    font-size: .875em;
    line-height: 1em;
    float: left;
    margin: 0 2px 0 0;
    padding: 0;
    background: none;
}

div.main {
    z-index: 500;
    float: none;
    width: auto;
    margin-left: 0;
    padding-left: 290px;
}

div.h1 {
    font-family: 'RobotoBold', 'Helvetica-Neue', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: normal;
    margin: 32px 0;
    text-transform: uppercase;
    color:black;
}
body {
    font-family: helvetica;
}

ul {
    font-family: monospace;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

#date {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}